


<mat-card class="home mat-elevation-z2">
    <mat-card-title class="title">
        Bem vindo!
    </mat-card-title>

    <mat-card class="detalhe">
        Sistema de cadastro de clientes em <span class=detalhe2>Angular</span>
    </mat-card>

    <p>Praesent feugiat efficitur accumsan. Donec iaculis hendrerit semper. Maecenas ligula neque, vehicula et magna in, faucibus porta urna. Proin quis nisi lorem. Curabitur dignissim commodo diam. Suspendisse odio elit, elementum eget turpis nec, lacinia laoreet velit. In pharetra nisl eu ipsum elementum, eget rhoncus odio eleifend. In efficitur turpis ac mauris accumsan, quis pharetra nisl elementum. Duis nec magna non purus ultrices porttitor sed ut ipsum. Donec quis rhoncus lectus, nec hendrerit quam. Vestibulum faucibus, odio in faucibus ullamcorper, ipsum purus finibus mauris, in vulputate lectus mauris a massa. Donec nec dolor dolor. Proin molestie dui ante, eu elementum mauris congue rhoncus. Curabitur gravida sapien nec auctor sagittis.</p>
    <mat-card-subtitle><span class="subtitle">Nam sed mollis libero. Mauris aliquet tortor eu elit auctor, sit amet mollis augue dapibus. Vivamus vel est dapibus, semper sem quis, sollicitudin sem. Curabitur lobortis arcu nec consequat vulputate. In ipsum ex, venenatis eu elit eget, gravida vestibulum nulla. Curabitur eu nunc vel lectus elementum malesuada. Aliquam augue lacus, pellentesque id orci vitae, tempor ornare sapien. Nulla lectus odio, pretium at sagittis eu, hendrerit eu neque. Suspendisse turpis ante, ultricies et ullamcorper at, ultrices a diam. In sagittis lorem a lacinia auctor. Aliquam erat volutpat. In id enim non augue efficitur venenatis. Ut non facilisis nisl.</span>
</mat-card-subtitle>
</mat-card>