/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {  margin: 0; 
        font-family: Roboto, "Helvetica Neue", sans-serif;
        background-color: #424242;
    }


.v-middle{
    vertical-align: middle;
}



  svg#clouds {
    position: fixed;
    bottom: -160px;
    left: -230px;
    z-index: -10;
    width: 1920px;
    opacity: 30%;
  }

 